{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Select Roles {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    
    

    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<header>
    <style>
        .navbar {
            min-height: 50px; /* Adjust the value as needed */
        }
    </style>
    
    <nav class="navbar navbar-expand-lg bg-info" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Algobulls</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                </ul>
                <!-- Replaced search form with provided HTML content -->
                <div>
                    <p style="font-size: 20px; color: white;">Hello,{{ name }}</p>
                </div>
            </div>
        </div>
    </nav>
    
    
    {% block content %}
    <div>
        {% if role_name == 'Support Head' %}
        <script>
            // Call the showTables function when the page loads
            window.onload = function() {
              showTables('Support Head');
            };
        </script>
        <button onclick="showTables('Support Head')">Support Head</button>
        {% elif role_name == 'Support Employee' %}
        <script>
            // Call the showTables function when the page loads
            window.onload = function() {
              showTables('Support Employee');
            };
        </script>
        <button onclick="showTables('Support Employee')">Support Employee</button>
        {% elif role_name == 'Sales Head' %}
        <script>
            // Call the showTables function when the page loads
            window.onload = function() {
              showTables('Sales Head');
            };
        </script>
        {% elif role_name == 'Sales Employee' %}
        <script>
            // Call the showTables function when the page loads
            window.onload = function() {
              showTables('Sales Employee', '{{ employee_id }}');
            };
        </script>
        {% elif role_name == 'Branch Employee' %}
        <script>
            // Call the showTables function when the page loads
            window.onload = function() {
              showTables('Branch Employee', '{{ employee_id }}');
            };
        </script>
        {% endif %}

        <table id="issue-history-table" class="hidden">
            <thead>
                <tr>
                    <th>History ID</th>
                    <th>Issue ID</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Comment</th>
                    <th>Assigned To</th>
                    <th>Changed By</th>
                </tr>
            </thead>
            <tbody>
                {% for history in issue_histories %}
                <tr>
                    <td>{{ history.history_id }}</td>
                    <td>{{ history.issue_id }}</td>
                    <td>{{ history.date }}</td>
                    <td>{{ history.status }}</td>
                    <td>{{ history.comment }}</td>
                    <td>{{ history.assigned_to }}</td>
                    <td>{{ history.changed_by }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table id="issues-table" class="hidden table table-hover">
            <!-- Issues Table Content -->
            <thead>
                <tr class="table-info">
                    <th scope="col">Issue ID</th>
                    <th scope="col">Division Assigned To</th>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Broking ID</th>
                    <th scope="col">Email ID</th>
                    <th scope="col">Strategy Code</th>
                    <th scope="col">Strategy Instrument</th>
                    <th scope="col">Customer Type</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date of Closing</th>
                    <th scope="col">Branch Employee ID</th>
                    <th scope="col">Employee Assigned To</th>
                    <th scope="col">Sales Employee Assigned To</th>
                </tr>
            </thead>
            <tbody>
                {% for issue in issues %}
                <tr class="table-light">
                    <td scope="row">{{ issue.issue_id }}</td>
                    <td>{{ issue.division_assigned_to }}</td>
                    <td>{{ issue.date }}</td>
                    <td class="editable-10" contenteditable="false">{{ issue.name }}</td>
                    <td class="editable-10" contenteditable="false">{{ issue.contact_number }}</td>
                    <td class="editable-10" contenteditable="false">{{ issue.broking_id }}</td>
                    <td class="editable-10" contenteditable="false">{{ issue.email_id }}</td>
                    <td class="editable-10" contenteditable="false">{{ issue.strategy_code }}</td>
                    <td class="editable-10" contenteditable="false">{{ issue.strategy_instrument }}</td>
                    <td class="editable-10" contenteditable="false">{{ issue.customer_type }}</td>
                    <td class="editable-5" contenteditable="false">{{ issue.priority }}</td>
                    <td class="editable-10" contenteditable="false">{{ issue.issue }}</td>
                    <td class="editable-6" contenteditable="false">{{ issue.comment }}</td>
                    <td class="editable-7" contenteditable="false">{{ issue.status }}</td>
                    <td class="editable-7" contenteditable="false">{{ issue.date_of_closing }}</td>
                    <td class="editable-branch_employee_id" contenteditable="false">{{ issue.branch_employee_id.employee_id }}</td>
                    <td class="issue-id hidden">{{ issue.issue_id }}</td>
                    <td class="editable" contenteditable="false">{{ issue.employee_assigned_to.employee_id }}</td>
                    <td class="editable-sales_employee_assigned_to" contenteditable="false">{{ issue.sales_employee_assigned_to }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table id="sales-leads-table" class="hidden table table-hover">
            <thead>
                <tr class="table-info">
                    <th scope="col">Lead ID</th>
                    <th scope="col">Branch Employee ID</th>
                    <th scope="col">Sales Employee ID</th>
                    <th scope="col">Broking ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Email ID</th>
                    <th scope="col">Source Type</th>
                    <th scope="col">Category</th>
                    <th scope="col">Risk Appetite</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Purchase Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Reason For Dropped</th>
                </tr>
            </thead>
            <tbody>
                {% for lead in sales_leads %}
                <tr class="table-light">
                    <td scope="row">{{ lead.lead_id }}</td>
                    <td >{{ lead.branch_employee_id.employee_id }}</td>
                    <td class="editable-15" data-field="sales_employee_id.employee_id" contenteditable="false">{{ lead.sales_employee_id.employee_id }}</td>
                    <td class="editable-12" data-field="broking_id" contenteditable="false">{{ lead.broking_id }}</td>
                    <td class="editable-12" data-field="name" contenteditable="false">{{ lead.name }}</td>
                    <td class="editable-12" data-field="contact_number" contenteditable="false">{{ lead.contact_number }}</td>
                    <td class="editable-12" data-field="email_id" contenteditable="false">{{ lead.email_id }}</td>
                    <td class="editable-12" data-field="source_type" contenteditable="false">{{ lead.source_type }}</td>
                    <td class="lead-id hidden">{{ lead.lead_id }}</td>
                    <td class="editable-13" data-field="category" contenteditable="false">{{ lead.category }}</td>
                    <td class="editable-13" data-field="risk_appetite" contenteditable="false">{{ lead.risk_appetite }}</td>
                    <td class="editable-13" data-field="comments" contenteditable="false">{{ lead.comments }}</td>
                    <td class="editable-14" data-field="amount" contenteditable="false">{{ lead.amount }}</td>
                    <td class="editable-14" data-field="purchase_date" contenteditable="false">{{ lead.purchase_date }}</td>
                    <td class="editable-14" data-field="status" contenteditable="true">{{lead.status}}</td>
                                        
                    <td class="editable-14" data-field="reason_for_dropped" contenteditable="false">{{ lead.reason_for_dropped }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form id="update-form" class="hidden" method="post">
            {% csrf_token %}
            <input type="hidden" name="updated_values" id="updated-values">
            <button type="button" onclick="submitValues()">Submit Employee Assigned To</button>
            <button type="button" onclick="submitPriority()">Submit Priority</button>
        </form>
        <form id="update-comments-form" class="hidden" method="post">
            {% csrf_token %}
            <input type="hidden" name="updated_comments" id="updated-comments">
            <button type="button" onclick="submitComments()">Submit Comments</button>
        </form>
        <form id="update-category-form" class="hidden" method="post">
            {% csrf_token %}
            <input type="hidden" name="updated_categories" id="updated-categories">
            <button type="button" onclick="submitCategory()">Submit Category</button>
        </form>
        <form id="update-sales-leads-form" class="hidden" method="post">
            {% csrf_token %}
            <input type="hidden" name="updated_data" id="updated-data">
            <button type="button" onclick="submitSalesLeads()" class="btn btn-success">Submit Sales Leads</button>
        </form>
        <form id="update-issues-form" class="hidden" method="post">
            {% csrf_token %}
            <input type="hidden" name="updated_issues" id="updated-data">
            <button type="button" onclick="submitIssues()" class="btn btn-success">Submit Issues</button>
        </form>
        <form id="new-entry-form" class="hidden" method="post">
            {% csrf_token %}
            <input type="hidden" name="updated_row" id="updated-data">
            <button type="button" onclick="addNewRow()">New Entry</button>
        </form>
        

    </div>
    {% endblock content %}
</header>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function showTables(role, employee_id) {
        var issueHistoryTable = document.getElementById('issue-history-table');
        var issuesTable = document.getElementById('issues-table');
        var rolesTable = document.getElementById('roles-table');
        var salesLeadsTable = document.getElementById('sales-leads-table');
        var submitForm = document.getElementById('update-form');
        var submitFormComments = document.getElementById('update-comments-form');
        var submitFormCategory = document.getElementById('update-category-form');
        var submitFormSalesLeads = document.getElementById('update-sales-leads-form');
        var submitFormIssues = document.getElementById('update-issues-form');
        var editableCells = document.querySelectorAll('.editable');
        var editablePriority = document.querySelectorAll('.editable-priority');
        var editable5 = document.querySelectorAll('.editable-5');
        var editable6 = document.querySelectorAll('.editable-6');
        var editable10 = document.querySelectorAll('.editable-10');
        var editable12 = document.querySelectorAll('.editable-12');
        var editable13 = document.querySelectorAll('.editable-13');
        var editable14 = document.querySelectorAll('.editable-14');
        var editable15 = document.querySelectorAll('.editable-15');
        var newEntryForm = document.getElementById('new-entry-form');

        if (role === 'Support Head') {
            issueHistoryTable.classList.remove('hidden');
            issuesTable.classList.remove('hidden');
            salesLeadsTable.classList.add('hidden');
            submitForm.classList.remove('hidden');
            submitFormCategory.classList.add('hidden');
            submitFormComments.classList.remove('hidden');
            submitFormSalesLeads.classList.add('hidden');
            submitFormIssues.classList.remove('hidden');
            newEntryForm.classList.add('hidden');
            editableCells.forEach(function(cell) {
                cell.contentEditable = true;
            });
            editablePriority.forEach(function(cell) {
                cell.contentEditable = true;
            });
        } else if (role === 'Support Employee') {
            issueHistoryTable.classList.add('hidden');
            issuesTable.classList.remove('hidden');
            salesLeadsTable.classList.add('hidden');
            submitForm.classList.add('hidden');
            submitFormComments.classList.remove('hidden');
            submitFormCategory.classList.add('hidden');
            submitFormSalesLeads.classList.add('hidden');
            submitFormIssues.classList.add('hidden');
            newEntryForm.classList.add('hidden');
            editableCells.forEach(function(cell) {
                cell.contentEditable = false;
            });
        } else if (role === 'Sales Head') {
            issueHistoryTable.classList.add('hidden');
            issuesTable.classList.add('hidden');
            salesLeadsTable.classList.remove('hidden');
            submitForm.classList.add('hidden');
            submitFormComments.classList.add('hidden');
            submitFormCategory.classList.add('hidden');
            submitFormSalesLeads.classList.remove('hidden');
            submitFormIssues.classList.add('hidden');
            newEntryForm.classList.add('hidden');
            var rows = salesLeadsTable.getElementsByTagName('tr');
            for (var i = 0; i < rows.length; i++) {
                rows[i].classList.remove('hidden'); // Show all rows
            }
            editable13.forEach(function(cell) {
                cell.contentEditable = true;
            });
            editable14.forEach(function(cell) {
                cell.contentEditable = true;
            });
            editable15.forEach(function(cell) {
                cell.contentEditable = true;
            });
        } else if (role === 'Sales Employee') {
            issueHistoryTable.classList.add('hidden');
            issuesTable.classList.add('hidden');
            salesLeadsTable.classList.remove('hidden');
            submitForm.classList.add('hidden');
            submitFormComments.classList.add('hidden');
            submitFormCategory.classList.add('hidden');
            submitFormSalesLeads.classList.remove('hidden');
            submitFormIssues.classList.add('hidden');
            newEntryForm.classList.add('hidden');
            var rows = salesLeadsTable.getElementsByTagName('tr');
            for (var i = 0; i < rows.length; i++) {
                var employeeIDCell = rows[i].getElementsByTagName('td')[2]; // Assuming Employee ID is the third column
                if (employeeIDCell && employeeIDCell.innerText.trim() !== employee_id) {
                    rows[i].classList.add('hidden');
                } else {
                    rows[i].classList.remove('hidden');
                }
            }
            editable13.forEach(function(cell) {
                cell.contentEditable = true;
            });
            editable14.forEach(function(cell) {
                cell.contentEditable = true;
            });
        } else if (role === 'Branch Employee') {
            issueHistoryTable.classList.add('hidden');
            issuesTable.classList.remove('hidden');
            salesLeadsTable.classList.remove('hidden');
            submitForm.classList.add('hidden');
            submitFormComments.classList.add('hidden');
            submitFormCategory.classList.add('hidden');
            submitFormSalesLeads.classList.remove('hidden');
            submitFormIssues.classList.remove('hidden');
            newEntryForm.classList.remove('hidden');
            var rows = issuesTable.getElementsByTagName('tr');
            for (var i = 0; i < rows.length; i++) {
                var branchEmployeeIDCell = rows[i].getElementsByTagName('td')[15]; // Assuming Branch Employee ID is the 16th column
                if (branchEmployeeIDCell && branchEmployeeIDCell.innerText.trim() !== employee_id) {
                    rows[i].classList.add('hidden'); // Hide rows where Branch Employee ID is not 11
                } else {
                    rows[i].classList.remove('hidden');
                }
            }
            var rows = salesLeadsTable.getElementsByTagName('tr');
            for (var i = 0; i < rows.length; i++) {
                var branchEmployeeIDCell = rows[i].getElementsByTagName('td')[1]; // Assuming Branch Employee ID is the 16th column
                if (branchEmployeeIDCell && branchEmployeeIDCell.innerText.trim() !== employee_id) {
                    rows[i].classList.add('hidden'); // Hide rows where Branch Employee ID is not 11
                } else {
                    rows[i].classList.remove('hidden');
                }
            }
            editable5.forEach(function(cell) {
                cell.contentEditable = true;
            });
            editable6.forEach(function(cell) {
                cell.contentEditable = true;
            });
            editable10.forEach(function(cell) {
                cell.contentEditable = true;
            });
            editable12.forEach(function(cell) {
                cell.contentEditable = true;
            });
            editable13.forEach(function(cell) {
                cell.contentEditable = true;
            });
        }
    }

    function addNewRow() {
        var table = document.getElementById('issues-table');
        var newRow = table.insertRow(table.rows.length); // Insert a new row at the end of the table
        
        // Add cells for each column
        var columns = ['Priority', 'Comment', 'customer_name', 'number', 'broking ID', 'email ID', 'strategy code', 'strategy instrument', 'customer type', 'issue'];
        for (var i = 0; i < columns.length; i++) {
            var cell = newRow.insertCell(i);
            cell.setAttribute('contenteditable', 'true'); // Allow editing for the new cells
            cell.classList.add('editable-' + columns[i].toLowerCase().replace(/\s/g, '_')); // Add a class to identify editable cells
        }
    }
    

    function submitValues() {
        var editableCells = document.querySelectorAll('.editable');
        var updatedValues = {};
    
        // Iterate over all editable cells and gather their values
        editableCells.forEach(function(cell) {
            var issueId = cell.parentElement.querySelector('.issue-id').innerText.trim();
            var newValue = cell.innerText.trim();
            updatedValues[issueId] = newValue;
        });
    
        // Serialize the updatedValues object and send it to the server
        $.ajax({
            url: '/update_employee_assigned_to/',
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
            data: {
                'updated_values': JSON.stringify(updatedValues)
            },
            success: function(response) {
                console.log('Column updated successfully:', response);
            },
            error: function(xhr, status, error) {
                console.error('Error updating column:', error);
            }
        });
    }   
    
    function submitPriority() {
        var editablePriorities = document.querySelectorAll('.editable-priority');
        var updatedPriorities = {};
    
        editablePriorities.forEach(function(cell) {
            var issueId = cell.parentElement.querySelector('.issue-id').innerText.trim();
            var newValue = cell.innerText.trim();
            updatedPriorities[issueId] = newValue;
        });
    
        var csrftoken = getCookie('csrftoken');
    
        $.ajax({
            url: '/update_priority/',
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: {
                'updated_priorities': JSON.stringify(updatedPriorities)
            },
            success: function(response) {
                console.log('Priority values updated successfully:', response);
            },
            error: function(xhr, status, error) {
                console.error('Error updating priority values:', error);
            }
        });
    }

    function submitComments() {
        var editableComments = document.querySelectorAll('.editable-comment');
        var updatedComments = {};
    
        editableComments.forEach(function(cell) {
            var issueId = cell.parentElement.querySelector('.issue-id').innerText.trim();
            var newComment = cell.innerText.trim();
            updatedComments[issueId] = newComment;
        });
    
        document.getElementById('updated-comments').value = JSON.stringify(updatedComments);
    
        var csrftoken = getCookie('csrftoken');
    
        $.ajax({
            url: '/update_comments/',
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: $('#update-comments-form').serialize(),
            success: function(response) {
                console.log('Comments updated successfully:', response);
            },
            error: function(xhr, status, error) {
                console.error('Error updating comments:', error);
            }
        });
    }    

    function submitCategory() {
        var editableCategories = document.querySelectorAll('.editable-category');
        var updatedCategories = {};
        
        editableCategories.forEach(function(cell) {
            var leadId = cell.parentElement.querySelector('.lead-id').innerText.trim(); // Corrected from '.issue-id'
            var newCategory = cell.innerText.trim();
            updatedCategories[leadId] = newCategory;
        });
    
        document.getElementById('updated-categories').value = JSON.stringify(updatedCategories);
    
        var csrftoken = getCookie('csrftoken');
    
        $.ajax({
            url: '/update_category/',
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: $('#update-category-form').serialize(),
            success: function(response) {
                console.log('Category updated successfully:', response);
            },
            error: function(xhr, status, error) {
                console.error('Error updating category:', error);
            }
        });
    }

    function submitSalesLeads() {
        var editableCells = document.querySelectorAll('.editable-12, .editable-13, .editable-14, .editable-15');
        var updatedData = {};
    
        // Iterate over all editable cells and gather their values
        editableCells.forEach(function(cell) {
            var leadId = cell.parentElement.querySelector('.lead-id').innerText.trim();
            var field = cell.getAttribute('data-field');
            var value = cell.innerText.trim();
            
            if (!updatedData.hasOwnProperty(leadId)) {
                updatedData[leadId] = {};
            }
            
            updatedData[leadId][field] = value;
        });
    
        // Serialize the updatedData object and send it to the server
        $.ajax({
            url: '/update_sales_leads/',
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
            data: {
                'updated_data': JSON.stringify(updatedData)
            },
            success: function(response) {
                console.log('Sales leads updated successfully:', response);
            },
            error: function(xhr, status, error) {
                console.error('Error updating sales leads:', error);
            }
        });
    }

    function handleStatusChange(linkElement, status) {
        var leadId = linkElement.closest('tr').querySelector('.lead-id').innerText.trim();
        var statusCell = linkElement.closest('td');
    
        // Update the status cell with the selected value
        statusCell.innerText = status;
    
        // Update the updatedData object with the new status value
        if (updatedData.hasOwnProperty(leadId)) {
            updatedData[leadId]['status'] = status;
        } else {
            updatedData[leadId] = {'status': status};
        }
    }
    

    function submitIssues() {
        var editableCells = document.querySelectorAll('.editable-5, .editable-6, .editable-7, .editable-10');
        var updatedData = {};
    
        // Iterate over all editable cells and gather their values
        editableCells.forEach(function(cell) {
            var issueId = cell.parentElement.querySelector('.issue-id').innerText.trim();
            var field = cell.getAttribute('data-field');
            var value = cell.innerText.trim();
            
            if (!updatedData.hasOwnProperty(issueId)) {
                updatedData[issueId] = {};
            }
            
            updatedData[issueId][field] = value;
        });
    
        // Serialize the updatedData object and send it to the server
        $.ajax({
            url: '/update_issues/',
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
            data: {
                'updated_issues': JSON.stringify(updatedData)
            },
            success: function(response) {
                console.log('Issues updated successfully:', response);
            },
            error: function(xhr, status, error) {
                console.error('Error updating issues:', error);
            }
        });
    }
    
    

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
</body>
</html>
